<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/shop.css">
    <script src="/js/shop.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <section class="gallery">

            <div class="frame">
                <div class="frame__content">
                    <h2>Hair Croun</h2>
                </div>
            </div>

            <div class="frame">
                <div class="frame__content">
                    <div class="frame-media frame-media_left" style="background-image: url(images/1.jpg)"></div>
                </div>
            </div>

            <div class="frame frame_bg">
                <div class="frame__content">
                    <video class="frame-media frame-media_right" src="/images/1.mp4" autoplay loop muted></video>
                </div>
            </div>

            <div class="frame frame_bg"></div>

            <div class="frame frame">
                <div class="frame__content text-right">
                    <h3>Lorem ipsum, dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis labore, incidunt perferendis molestiae saepe explicabo magnam, commodi eaque nisi rem doloribus sapiente repellat!</p>
                </div>
            </div>

            

            <div class="frame frame_bg">
                <div class="frame__content">
                    <video class="frame-media frame-media_left" src="/images/2.mp4" autoplay loop muted></video>
                </div>
            </div>

            <div class="frame frame_bg">
                <div id="error"></div>
                <div class="frame__content">
                    <form action="/order" target="_blank">
                        <div class="buttons">
                            <button type="submit" class="btn-hover color-6">Сделать заказ</button>
                        </div>
                    </form>


                </div>
            </div>

            <div class="frame frame_bg">
                <div class="frame__content">
                    <div class="frame-media" style="background-image: url(/images/1.jpg)"></div>
                </div>
            </div>

            
            
            <div class="frame">
                <div class="frame__content">
                    ©eto_oleh
                </div>
            </div>


        </section>
    </div>
</body>
</html>